h1{
    color: bisque;
    font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    border :solid;
    background-color: rgb(55, 77, 124);
    padding: 5px;
}
   
body{
    background-color: bisque;
}

a:link{
    color: white;
    text-decoration: none;
} 
a:visited{
    color: white;
    text-decoration: none;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left:20%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.item:hover p{
    opacity: 1;
    font: bold;
}

.grid{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3px;
}

.item:hover{
    transform: scale(1.06);
}

.item{
    border: solid ;
    border-width: 1px;
    margin: 8px;
}

h2{
    color: rgb(55, 77, 124);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

ul{
    font-size: 12px;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-top: -30px;
    color: rgb(55, 77, 124);
    border: solid;
    padding: 10px;
}

img{
    border: solid darkslateblue;
    border-width: 2px;
}
